/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#content {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

video {
  height: 100%;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -2;
}

a {
  text-decoration: none;
  color: inherit;
}

header nav {
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 70px;
}

.fly-dining-logo {
  margin-left: 12vh;
}

.header-logo {
  position: relative;
  top: 10.5px;
  width: 195px;
}

nav .nav-list {
  width: 37%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  list-style-type: none;
  margin-right: 10vh;
}

.nav-list .nav-links {
  padding: 11.5px;
  font-size: 25px;
  font-weight: bolder;
  letter-spacing: 2px;
}

.nav-list .nav-links:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: #ff5a5f;
}

#recent-tab {
  background-color: rgba(255, 255, 255, 0.9);
  color: #ff5a5f;
}

.restaurant-info {
  font-size: 40px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  font-weight: bolder;
}

button {
  font-size: 20px;
  background-color: #ff5a5f;
  border: 1px solid #ff5a5f;
  color: white;
  padding: 7px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.info {
  position: absolute;
  width: 35%;
  top: 40%;
  left: 65%;
}

.row {
  width: 27%;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #ff5a5f;
  height: 393px;
  margin: 1vw;
}

.img {
  height: 347px;
  width: 100%;
  background-size: cover;
}

.details-container {
  width: 100%;
}

h3 {
  width: 100%;
  position: relative;
  bottom: 38px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4.7px;
  font-size: 25px;
}

.price {
  position: absolute;
  padding-left: 9vw;
}

.button {
  width: 100%;
  position: relative;
  bottom: 38px;
  background-color: #ff5a5f;
  color: white;
  font-weight: bold;
  font-size: 25px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.flex-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-display-left {
  position: absolute;
  top: 50%;
  left: 2%;
}

.slider-display-right {
  position: absolute;
  top: 50%;
  left: 95%;
}

.background-blur {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(25px);
  border: 2px solid #ff5a5f;
  z-index: -1;
}

.header-menu {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  position: absolute;
  top: 21%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  font-weight: bolder;
  color: white;
}

.avatar-container {
  flex: 1;
  flex-basis: 250px;
}

#draggable-google-map {
  position: absolute;
  top: 56%;
  left: 30%;
  transform: translate(-50%, -50%);
  height: 70%;
  width: 30%;
}

input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 5px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

input[type=submit] {
  background-color: #ff5a5f;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ff5a51;
}

.container-contact {
  position: absolute;
  top: 56%;
  left: 65%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
}

.column {
  width: 100%;
  padding: 20px;
}

.row-contact::after {
  content: "";
  display: table;
  clear: both;
}

label {
  color: black;
}

.cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  z-index: -1;
}
